/* font-family: 'Varela Round', sans-serif;
color: #6195ff, #e8e8e8, 
*/

/*
  1-common styles
  2- general style
  3- sections
    3.0- Header section
    3.1- Home section 
    3.2- About section
    3.3- Services section
    3.4- Price section
    3.5- Contact section
    3.6- Footer section
*/


/* 1-common */

/* 
      -overlay
      - container 
      - opacity hover
      - section header
      - section padding
      - hover effect 1 (left to right)
      - hover effect 1 (top to bottom)
*/

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.hover-opacity {
	transition: opacity .5s;
}

.hover-opacity:hover {
	opacity: 0.7;
}

.ltr-effect,
.tb-effect {
	position: relative;
}

.ltr-effect:after,
.tb-effect:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #c3bebe;
	z-index: -1;
}

.ltr-effect:after {
	width: 0;
	transition: width 0.5s;
}

.tb-effect:after {
	height: 0;
	transition: height 0.5s;
}

.ltr-effect:hover:after {
	width: 100%;
}

.tb-effect:hover:after {
	height: 100%;
}


/* 2-General styles */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: 'Varela Round', sans-serif;
}

.clear {
	clear: both;
}

.pd-y {
	padding: 50px 0;
}

.section-header {
	text-align: center;
	margin-bottom: 20px;
}

.section-header .section-title {
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.section-header .line {
	display: block;
	height: 2px;
	width: 570px;
	background-color: #6195ff;
	margin-bottom: 10px;
	margin: 0px auto 70px auto;
}

.header-content {
	overflow: hidden;
}

/* to solve flot problem*/

/* 3-sections styles */


/* Heder section */

.header {
	background-color: gray;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header .logo {
	width: 40%;
	float: left;
	padding-left: 40px;
	display: flex;
	padding-top:17px;
}

.header .logo img {
	height: 50px;
	top: 15px;
}

.header .nav {
	width: 60%;
	float: left;
	list-style: none;
}

.header .nav li {
	display: inline-block;
	margin-right: 30px;
}

.header .nav li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 30px 10px;
}

.header .nav li a:after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: #6195ff;
	transition: width 0.5s;
	margin-top: 3px;
}

.header .nav li a:hover:after {
	width: 100%;
}

/* Home section */

.home {
	height: 150vh;
	background-image: url(./image/ahmedabad.rocks-20170926-0001.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.home .title {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}

.home-contant {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	width: 50%;
}

.home-desc {
	margin: 20px 0;
	color: #fff;
	letter-spacing: 2px;
	line-height: 1.5;
}

.home .btn {
	width: 160px;
	padding: 15px 0;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	font-size: 18px;
}

.home .btn-start {
	margin-right: 10px;
	background-color: #fff;
}

.home .btn-learn {
	background-color: #6195ff;
	color: #fff;
}

/* About section */
.about {
	padding-top: 60px;
}



.about-contant {
	overflow: hidden;

}

.about-item {
	width: 30%;
	float: left;
	text-align: center;
	border: 1px solid #e8e8e8;
	padding: 40px 20px;

}

.about-item.mg {
	margin: 0 5%;
}

.about-item:hover .about-item-title {
	color: #fff;
}

.about-item .icon {
	margin: 10px;
	color: #6195ff;
}

.about-item-title {
	text-transform: capitalize;
	margin-bottom: 10px;
	transition: color 0.5s;
}

.about-item-desc {
	line-height: 1.6;
	margin-bottom: 10px;
	color: #999999;
}

.about-item-link {
	color: #6195ff;
	text-transform: capitalize;
}

/* offert section */
.offer {
	padding-top: 50px;
}

.offer .line {
	width: 100px;
}

.offer-containt {
	overflow: hidden;
	display: inline-block;
}

.offer-item {
	width: 30%;
	float: left;
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	padding: 20px 15px 30px 60px;
	position: relative;
}

.offer-item.mg {
	margin: 0 5%;
}

.offer-item .icon {
	position: absolute;
	left: 15px;
	top: 40px;
	color: #6195ff;
}

.offer-item-title {
	margin: 15px;
	text-transform: capitalize;
	transition: color 0.5s;
}

.offer-item-desc {
	margin: 15px;
	text-transform: capitalize;
	line-height: 1.6;
	color: #999;
}

.offer-item:hover .offer-item-title {
	color: #fff;
}

/* service-section */

.service {
	background-color: #efefef;
}

.service-item {
	width: 100%;
	float: left;
	margin-top: 40px;
}

.service-item .section-header {
	text-align: left;
}

.service-item .section-header .line {
	margin: 0 0 20px 0;
}

.service-item {
	padding-right: 20px;
	color: #999;
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 20px;
}

.service-list {
	list-style: none;
	padding-top: 20px;
}

.service-list li i {
	border: 1px solid #6195ff;
	color: #6195ff;
	padding: 7px 4px;
	border-radius: 50%;
}

.service-list li {
	margin-bottom: 10px;
	color: #999;
}

.service-item img {
	width: 100%;
}

.service-bollets {
	list-style: none;
	text-align: center;
}

.service-bollets li {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #e8e8e8;
	margin: 10px 5px;
	border-radius: 50%;


}

.service-bollets li.active {
	background-color: #6195ff;
}

.service-bollets li:hover {
	background: #6195ff;
}

/* numbers-section */
.numbers {
	position: relative;
	background-image: url(https://campusdevelopments.leeds.ac.uk/wp-content/uploads/2015/09/Bragg-Building-Portfolio-header2.jpg);
	height: 300px;
	background-size: cover;
	background-attachment: fixed;
}

.numbers-items {
	overflow: hidden;
	padding: 100px;
}

.number-item {
	width: 25%;
	float: left;
	text-align: center;
}

.number-item .icon {
	color: #6195ff;
	margin-bottom: 15px;
}

.number-item-title {
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}

.number-item-text {
	color: #fff;
}

/*-------------------- pricing-section ------------*/

.pricing-plans {
	overflow: hidden;
}

.pricing-item {
	width: 30%;
	float: left;
	padding: 20px 20px;
	border: 1px solid #e8e8e8;
	text-align: center;
}

.pricing-item.mg {
	margin: 0 5%;
}

.pricing-item-text {
	text-transform: uppercase;
	font-size: 17px;
	color: #999;
	transition: color 0.5s;
}

.pricing-item-permonth {
	width: 100px;
	height: 100px;
	padding: 30px 0;
	transition: color 0.5s;
	margin: 20px auto;
	border: 2px solid #6195ff;
	border-radius: 50%;
}

.pricing-item-permonth .doller {
	font-size: 20px;
}

.pricing-item-permonth .month {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}

.pricing-list {
	list-style: none;
}

.pricing-list li {
	color: #999;
	line-height: 1.8;
}

.purchase {
	background: none;
	border: 0;
	display: block;
	width: 140px;
	border: 2px solid #7ba7ff;
	color: #7ba7ff;
	margin: 15px auto 0 auto;
}

.pricing-item:hover .pricing-item-permonth {
	color: #fff;
}

.pricing-item:hover .pricing-item-text {
	color: #7ba7ff;
}

/* --------contact---------------- */

.contact {
	position: relative;
	background-image: url(./image/bg.png);
	background-size: cover;
	background-attachment: fixed;
}

.contact-items {
	overflow: hidden;
	padding: 30px;
}

.contact-item {
	width: 30%;
	/* float: left; */
	text-align: center;
	display: inline-block;
}

.contact-item .icon {
	color: #6195ff;
	margin-bottom: 15px;
}

.contact-item-title {
	font-weight: bold;
	font-size: 20px;
	color: #aea8a8;
}

.contact-item-text {
	color: #aea8a8;
}

/* -------------footer-section------------ */

.logo {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	/* padding-top: 20px; */
}

.footer {
	background: gray;
	text-align: center;
	padding-top: 60px;
}

.footer-links {
	list-style: none;
	margin: 30px 0;
	display: flex;
	text-align: center;
	justify-content: center;
}

.footer-links i {
	display: grid;
	place-items: center;
	width: 45px;
	height: 45px;
	font-size: 40px;
	/* background-color:#6195ff;  */
	color: #FFF;
	margin: 0 5px;
	border-radius: 15%;
	transition: 0.3s ease-in-out all;
}



.footer-links i:hover {
	font-size: 30px;
	background-color: #979aa1;
	transform: rotate(360deg)
}

.footer .copy {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}
.animate__animated{
	animation:infinite;

}